[2021-08-11 03:39] PedroHaupenthal opened #10 "Option to change which usecases can appear on the GraphQL layer"
**Description**
This issue arose from the need for certain usecases not to be necessarily exposed in the graphQL layer, where only those with **types** `query` or `mutation` could appear.

**Example**
As the code demonstrates, only the usecase `findAllUser` would not be present in graphQL because its type has not been defined.
[code]

Such an issue could cause only the desired usecases to be expos

[2021-08-11 16:54] dalssoft opened #11 "Remove Infrastructure code from domain layer"
Info about GraphQL (ex: `type: 'mutation'`, `type: 'query'`) should not be inside a file on the `domain` folder.

ex: `src\domain\usecases\index.js`
[code]

[2021-08-11 17:18] italojsv commented on #11
We can change it for "input" or "read" so I can translate it for herbs2gql into presentation layer

[2021-08-11 17:20] italojsv commented on #11
I was thinking to do it into use case with a metadata property
[code]
I didnt test it but if this is not possible today, I believe we can implement this feature into buchu, what do you think?

[2021-08-12 17:58] eacvortx commented on #11
I think metadata is necessary to centralize the information in the use case, for glues to get the information without multiple configurations or separated definitions...

Maybe with this we can use

"My example usecase to import my little world"

and the glue of graphQL or rest can use "myExampleUseCase" from the same metadata

[2021-08-12 18:55] dalssoft commented on #11
Similar discussion: https://github.com/herbsjs/forum/discussions/18

[2021-08-19 19:21] italojs opened #12 "Herbs project must to born with unit tests"
I was thinking the project generated by herbs-cli must to born with:
- unit tests
- integration tests
- regression tests
- test code coverage.

[2021-08-19 19:47] italojs opened #13 "Herbs project must to born with Dockerfile"
I was thinking the herbs-cli could have an option to create the project with an setup config, example

[code]

[2021-08-19 19:56] italojs opened #14 "Herbs generated project must to born with lint"
I was thinking to have an option to add esLint into project

[code]

[2021-08-19 20:13] dalssoft commented on #11
Option 1 - external metadata

[code]

Option 2 - internal metadata
[code]

This is just a initial brainstorm

[2021-08-19 20:23] italojs commented on #11
We can follow with two options, for now, I can implement the first sugestion(I liked the sugesiton) into CLI, so we can open an issue inside buchu repository and discuss about explicit metadata, what do you think?

[2021-08-19 20:29] dalssoft commented on #11
@italojs sounds great to me! 🚀🚀

[2021-08-19 20:33] dalssoft commented on #12
for the first version having use case tests (integration) would be great

[2021-08-19 20:48] italojs opened #15 "Generated project dont creating the get and"
I noted when we migrate the project to use the package @herbs/herbs2rest we didnt update the rest routes setup, so when I started my app it shows only this routes

[code]
it's caused  because the routes setup is wrong according the [doc](https://herbsjs.org/docs/glues/herbs2rest)
[code]

[2021-08-19 20:58] italojs opened #17 "lint dont works"
The herbs CI lint are brooking
https://github.com/herbsjs/herbs-cli/actions/runs/1105923888

[2021-08-19 23:10] #17 closed

[2021-08-20 20:30] dalssoft commented on #14
if you choose one style, the generated code will follow?

[2021-08-22 23:29] #15 closed

[2021-08-23 01:52] italojs commented on #10
I believe we can implement it with a new validations in this [file](https://github.com/herbsjs/herbs-cli/blob/37e1c96d559083ffa521d97ea53f08e7b114f8e9/src/templates/infra/api/graphql/index.ejs#L20)
[code]

[2021-08-28 12:13] italojs opened #20 "Herbs CLI must to use Common Errors from buchu"
Recently the herbs buchu get a new feature to [build errors](https://github.com/herbsjs/buchu#errors), I believe this feature must to be present when I generate a project with herbs-cli

[2021-08-28 13:13] italojs opened #21 "Generated project must to born with getAll route/query"
I noted the generated project dont contain a getAll route into rest layer nor getAll query into graphql layer, I believe we need to have this implementations and this methods must to return an paginated result

[2021-08-28 14:23] italojs opened #22 "Add herbs2mongo into generated project"
I checked we released the [herbs2mongo](https://github.com/herbsjs/herbs2mongo) but the generated herbs-cli  dont implement it into the generated project when i select mongo options as my database

[2021-08-30 23:43] maikvortx commented on #14
Hi! We can start with one of the options. What do you think we started with `eslint` using the Vortx One Manager config as default. About the google and airbnb options, we can use the configuration of these packages, respectively, https://github.com/google/eslint-config-google and https://www.npmjs.com/package/eslint-config-airbnb .

[2021-08-31 22:36] #22 closed

[2021-08-31 22:36] #11 closed

[2021-09-10 14:10] italojs opened #24 "unit tests getting so much time to run"
Today we have a problem to write unit tests into CLI, for most part of CLI functions I need to import something about generated project to collect the metadata, because this I need to install the node_modules every time I will test something, it make the test to take sooooooo much time to run.

### My first suggestion is:

Install node_modules once and reuse it for all unit tests
pros:
- The tests

[2021-09-10 16:46] jhomarolo opened #25 "Herbs project must to born with unit tests"
I`ll work into this feature: Add the unit tests to cli project

Related to #12

[2021-09-13 10:35] italojs opened #26 "Generating relations into repository layer"
# ⚠️ WARN: I'm not proposing an ORM, just a smarter final generated code.

Most of our SQL based projects have relations, it's a super natural thing we need to have in our micro-services
e.g:

<table>
<tr><th>USERS_TABLE </th><th>PRODUCTS_TABLE</th><th>SELES_TABLE</th></tr>
<tr><td>

| id | name  | email           |
|----|-------|-----------------|
| 12 | italo | email@email.com |
| 13 | jhow  | e

[2021-09-13 10:55] italojs opened #27 "would like to have a SQL Server layer"
as herbs2knex support SQL Server, I would like to have the option to use SQL server in my project instead Postgres or Mongodb

[2021-09-13 18:59] jhomarolo commented on #26
What happens if user choose MongoDB in cli?

[2021-09-14 01:22] italojs commented on #26
I believe this feature don't makes sense for mongoDB based projects, in general project that uses MongoDB don't need relationship, other complementary argument is that herbs2mongo don't have a "fk" feature too.
My idea in the first step is only cover the relational databases and use the "fk" feature from "herbs2knex"

[2021-09-14 12:27] dalssoft commented on #26
I think we should move this issue to `herbs2knex`

[2021-09-14 23:02] italojs commented on #26
Ok, makes sense the herbs2knex handle this "inteligence".
Just to register, if we implement it into herbs2knex, we will improve the "migrations" generation to understand FKs.

[2021-09-14 23:04] #26 closed

[2021-09-14 23:33] italojs commented on #26
herbs2knex issue created https://github.com/herbsjs/herbs2knex/issues/23

[2021-09-19 19:05] rodrigodosanjosoliveira opened #28 "Herbs project must to born with version control"
The project generated by herbs-cli must born with:

Git version control:

- using .gitconfig information to suggest author information in initial setup, e.g: AuthorName - AuthorEmail
- setting main with principal branch automatically
- .gitignore standard to nodejs projects

[2021-09-19 19:22] rodrigodosanjosoliveira opened #29 "Dependencies related to GraphQL were installed even choosing only REST"
The dependencies related to GraphQL were installed even choosing only REST as infra in the initial project setup

![image](https://user-images.githubusercontent.com/657657/133940014-8b670292-8761-4406-a795-87163b41a13c.png)
**_choosing not to generate graphql layer_**

![image](https://user-images.githubusercontent.com/657657/133940046-3ff1bf1c-6287-4e58-95f8-f090388f3a51.png)
**_graphql libs are

[2021-09-20 00:34] italojs commented on #29
Can you send a PR with the fix code, please? :D

[2021-09-20 12:38] #29 closed

[2021-09-20 12:39] jhomarolo commented on #29
:tada: This issue has been resolved in version 1.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@herbsjs/herbs-cli/v/1.1.1)
- [GitHub release](https://github.com/herbsjs/herbs-cli/releases/tag/v1.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-21 00:59] italojs opened #31 "discord test"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-09-21 00:59] #31 closed

[2021-09-21 23:23] guilhermemiua commented on #20
Hi, the idea is to change the existing CustomErrors like NotValid and NotFound to the new Buchu errors ```Err.notFound(options), Err.invalidEntity(options)``` in the UseCases and remove the NotValid.js and NotFound.js. Or the idea is to keep the NotValid.js and NotFound.js but changing from ```Err()``` to  ```Err._buildCustomErr('ERROR_CODE', message, payload, cause)```.

[2021-09-22 00:01] rodrigodosanjosoliveira opened #32 "The generator folder contains unused or obsolete code"
The "src/generator" folder contains unused or obsolete code. The system's productive code is located in the "src/generators" folder

[2021-09-22 03:04] mateuscovos opened #33 "Disable introspection on production"
Hello everyone!

We have a problem with introspection when the environment config is production, even with the playground disabled, with introspection query we have access to mutations and queries of the api.

Playground disabled
![image](https://user-images.githubusercontent.com/30701583/134275443-1a7e2e2b-4344-400b-a2d2-c4c1bc68a8e0.png)
![image](https://user-images.githubusercontent.com/3070158

[2021-09-22 12:27] #32 closed

[2021-09-22 12:29] #33 closed

[2021-09-22 12:30] jhomarolo commented on #32
:tada: This issue has been resolved in version 1.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@herbsjs/herbs-cli/v/1.1.2)
- [GitHub release](https://github.com/herbsjs/herbs-cli/releases/tag/v1.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-22 20:08] italojs commented on #20
we need to implements the first option: `the idea is to change the existing CustomErrors like NotValid and NotFound to the new Buchu errors Err.notFound(options), Err.invalidEntity(options) in the UseCases and remove the NotValid.js and NotFound.js. `

[2021-09-22 20:56] guilhermemiuavortx commented on #20
@italojs ok! thanks! :)

[2021-09-22 20:56] guilhermemiuavortx commented on #20
I'll be working in this issue.

[2021-09-23 23:10] #25 closed

[2021-09-25 07:31] rodrygw commented on #27
Doing

[2021-09-25 16:24] jhomarolo commented on #27
In the herbs2knex already have a example with use. You can use that code as base for your PR https://github.com/herbsjs/herbs2knex/tree/master/testdb/mssql

[2021-09-25 16:37] rodrigodosanjosoliveira commented on #27
I look at this code, but I'm having a problem with the insert, because it tries to pass the ID with a default value and SQL Server doesn't accept it.

[2021-09-27 10:36] #20 closed

[2021-09-27 14:09] #12 closed

[2021-09-27 22:12] italojs opened #44 "discord test"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-09-27 23:16] italojs opened #45 "adasd"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-09-27 23:17] #45 closed

[2021-09-27 23:17] #44 closed

[2021-09-28 17:31] rodrigodosanjosoliveira opened #47 "Herbs project should use herbs2mongo to support data layer generation with mongodb"
herbs-cli must generate project using official herbsjs ecosystem library to support mongodb

[2021-09-28 21:41] euduardo opened #48 "New project: could not find the file @herbsjs/herbs-cli/src/build/templates/knexFileTopostgres.ejs"
Occurs an error when generating a new project with `herbs new` and selecting `postgres` as database. It says the template file  `@herbsjs/herbs-cli/src/build/templates/knexFileTopostgres.ejs` was not found.

**To Reproduce**
1) Run the following command to generate a new project: `herbs new`
2) Choose `Postgres` on `What database do you want to use?`

**Expected behavior**
The new project should b

[2021-09-29 11:27] anahelenasilva commented on #10
@PedroHaupenthal do you think you'll be working in this issue? If not, can I try to implement the suggested enhancement? Thanks! 😄

[2021-09-29 12:53] #48 closed

[2021-09-29 12:54] jhomarolo commented on #48
:tada: This issue has been resolved in version 1.4.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@herbsjs/herbs-cli/v/1.4.1)
- [GitHub release](https://github.com/herbsjs/herbs-cli/releases/tag/v1.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-29 20:20] anahelenasilva opened #50 "Repository file is not being generated when running the herbs update command"
**Describe the bug**
The repository file is not being generated when running the `herbs update` command.

**To Reproduce**
1. run `herbs new` to create a new herbs project
2. select sql server or postgres as a database
3. create any new entity using entity and field from @herbsjs/herbs
4. run `herbs update` to add the usecases and the repositories
5. the repository file is not generated automatica

[2021-09-29 20:29] anahelenasilva commented on #50
I was taking a look to try and help out, and I found these lines of code:

![image](https://user-images.githubusercontent.com/10438122/135343726-3a34df5d-0939-4046-8e02-7b8113f85585.png)

Maybe there's the problem? ...  What do you guys think?

[2021-09-29 22:50] rodrigodosanjosoliveira commented on #50
What is the version of this code?

[2021-09-29 22:59] anahelenasilva commented on #50
@rodrigodosanjosoliveira sorry, my branch wasnt with the last version 😄  (despite it said it was...)

[2021-09-30 05:15] italojs opened #52 "Herbs project must to born with unit tests for dynamic entites"
Today we area building unit test only for example entity user, we need to generate it dynamically for custom entities too

[2021-10-01 12:50] jhomarolo opened #53 "Get-all paginated route"
I think would be nice to generate an "get-all" usecase/api-route that returns a paginated result for each entity.

[2021-10-01 14:48] euduardo opened #54 "New project generation does not put the project name on package.json"
**Describe the bug**
When generation a new project, the project name is not filled in the package.json file.

**To Reproduce**
1. Run 'herbs new', with or without the `--name` option

**Expected behavior**
The package.json file should contain a propertyt `name` with the project name.

**Screenshots**
![image](https://user-images.githubusercontent.com/22860571/135640285-19c8c738-9ea4-4732-8d99-6372

[2021-10-01 18:37] #50 closed

[2021-10-01 18:38] jhomarolo commented on #50
:tada: This issue has been resolved in version 1.4.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@herbsjs/herbs-cli/v/1.4.3)
- [GitHub release](https://github.com/herbsjs/herbs-cli/releases/tag/v1.4.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-03 22:58] #27 closed

[2021-10-03 23:03] italojs commented on #53
duplicated https://github.com/herbsjs/herbs-cli/issues/21

[2021-10-03 23:03] #53 closed

[2021-10-04 15:07] #54 closed

[2021-10-04 15:08] jhomarolo commented on #54
:tada: This issue has been resolved in version 1.4.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@herbsjs/herbs-cli/v/1.4.4)
- [GitHub release](https://github.com/herbsjs/herbs-cli/releases/tag/v1.4.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-11 00:23] dalssoft opened #60 "Delete entity use case - Wrong step description"
current:
[code]

change to:
[code]

[2021-10-11 00:36] dalssoft opened #61 "Find Item - Naming problems and multiples IDs allowed"
apart from the naming, this issue rises a problem with being able to get multiples IDs from REST.

This issue highlits
1. Fix file name
2. Fix UC and step description
3. Allow the same UC to handle single and multiple IDs request. `/item/` (all), `/item/?ids=1,2,3` (multiples) and `/item/2` (single)

It is still needed:

4. A fix to REST layer to handle `/item/` (all), `/item/?ids=1,2,3` (multiple

[2021-10-11 00:58] dalssoft opened #62 "Delete UC / Repo - Better use of knex glue"
current:

`deleteItem.js`
[code]

should be:

`deleteItem.js`

[code]

and `deleteByID` from `itemRepository.js` should be removed.

[2021-10-11 01:21] dalssoft opened #63 "herbs update - Entities with space in their names"
Entities with space in their names throws a error when `herbs update`:

[code]
Ex:

`entity('To Do List', {`

`\src\domain\entities\index.js`:
[code]

[2021-10-11 01:30] dalssoft opened #64 "herbs update - Entities with fields with another entity as type"
ex:

[code]

error:
[code]

[2021-10-11 01:32] dalssoft opened #65 "herbs update - Entity with methods"
ex:
[code]

error:
[code]

[2021-10-11 01:36] dalssoft opened #66 "herbs update - Should create migrations for new entities"
A new migration should be created for new entities when `herbs update` runs.

[2021-10-11 01:51] dalssoft opened #67 "REST endpoints with single quotes in their names"
Ex:
[code]

Should be:
[code]

[2021-10-11 01:59] dalssoft opened #68 "REST should have a GET all endpoint"
Currently:
[code]

It should be:
[code]

ps: Already described in https://github.com/herbsjs/herbs-cli/issues/61, but this issue is related to the endpoint only (not the UC that will give support to run).

[2021-10-11 12:39] #68 closed

[2021-10-11 15:34] anahelenamagit commented on #67
I'll work on this bug 😃

[2021-10-12 15:14] italojs commented on #64
@dalssoft can you prove more detail of how can I reproduce it?

[2021-10-12 19:42] #65 closed, assigned to nobody

[2021-10-12 20:52] #62 closed

[2021-10-12 20:52] #63 closed, assigned to nobody

[2021-10-12 21:01] #60 closed

[2021-10-12 22:00] jhomarolo commented on #60
:tada: This issue has been resolved in version 1.5.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@herbsjs/herbs-cli/v/1.5.4)
- [GitHub release](https://github.com/herbsjs/herbs-cli/releases/tag/v1.5.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-12 22:04] dalssoft opened #71 "Update Entity UC - Return Err.notFound() when a ID is not found"
When calling a Update use case (ex: `UpdateUser`) with a ID that doesn't exist the UC should return Err.notFound(), like the Find use case.

Currently it return an error:
[code]

[2021-10-12 22:20] italojs commented on #68
sorry, what PRs and issues? the #21 still opened

[2021-10-13 18:06] jhomarolo commented on #21
:tada: This issue has been resolved in version 1.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@herbsjs/herbs-cli/v/1.6.0)
- [GitHub release](https://github.com/herbsjs/herbs-cli/releases/tag/v1.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-13 18:30] dalssoft commented on #61
sorry, I got it wrong. the correct argument would be:
both `/items/1` and `/items` should just use one UC: Find [Entity].

`todo list on herbs` already do that: https://github.com/herbsjs/todolist-on-herbs/blob/master/src/infra/api/rest/routes.js#L6

[2021-10-13 23:06] rodrigodosanjosoliveira opened #73 "GetAll route error on project generated with mongodb"
**Describe the bug**
GetAll route calls findAll generic function that not exists in mongodb template

[2021-10-14 00:06] #73 closed

[2021-10-14 00:07] jhomarolo commented on #73
:tada: This issue has been resolved in version 1.6.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@herbsjs/herbs-cli/v/1.6.1)
- [GitHub release](https://github.com/herbsjs/herbs-cli/releases/tag/v1.6.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-10-15 19:38] italojs opened #75 "Serverless layer"
What do you think about the CLI create a serverless layer?

[code]

The idea is to generate a serverless REST API, example: https://www.serverless.com/blog/node-rest-api-with-serverless-lambda-and-dynamodb/

[2021-10-25 22:49] gustavobigardi opened #77 "Error when creating new project - v1.7.0"
**Describe the bug**
I receive an error "Error: Cannot find module 'lodash.startCase'" when creating a new project.

**To Reproduce**
1. Install the latest version of herbs-cli (1.7.0 here)
2. Run "herbs new" command
3. Fill all the options with default values
4. See the error when the CLI is trying to create the project structure.

**Expected behavior**
The project structure to be created.

**Scr

[2021-10-25 23:15] #77 closed, assigned to nobody

[2021-11-04 12:53] #71 closed

[2021-11-04 12:54] jhomarolo commented on #71
:tada: This issue has been resolved in version 1.7.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@herbsjs/herbs-cli/v/1.7.2)
- [GitHub release](https://github.com/herbsjs/herbs-cli/releases/tag/v1.7.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-08 14:27] jhomarolo commented on #28
:tada: This issue has been resolved in version 1.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@herbsjs/herbs-cli/v/1.8.0)
- [GitHub release](https://github.com/herbsjs/herbs-cli/releases/tag/v1.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-30 21:19] ssmaciel commented on #13
When you say 'container engine1' and 'container engine2', do you mean to generate the Kubernetes manifest files?

Exemple:
[code]

[2021-11-30 21:23] italojs commented on #24
we need to install the libs because when I'm generating the files I need to 'require' the entities and usecases... because this I need to install the libs(like @herbsjs/herbs')

Buuuuuuuuuuuuuutttt  I got an idea with your question, I think we could to install all dependencies inside the CLI, SOOOOOOOOO instead apply the "npm install XXX", we could to ask the CLI to use yourself node_modules

[2021-11-30 23:12] italojs commented on #13
it could be an option too

[2021-12-12 14:21] #52 closed

[2021-12-12 22:07] dalssoft opened #82 "ID field: use ID metadata from entity"
With the upcoming release of the "ID field" feature (https://github.com/herbsjs/gotu/issues/46), it would be possible to read the entity's metadata and generate better usecases, repos, etc.

[code]

Also, it's a opportunity to simplify the validation step for some usecases.

[code]

[2021-12-14 20:29] #24 closed

[2021-12-18 14:34] dalssoft opened #83 "Tests for entities"
The only test currently being generated (from `new` or `update` command) is use case tests.

Since entities also can (and should) have logic, they should have tests for entities as well.

ex:
`\src\domain\entities\user.js`
`\src\domain\entities\user.test.js`

[2021-12-18 14:47] dalssoft opened #84 "Herbs Shell"
`herbs shell` command should call [Herbs REPL](https://github.com/herbsjs/herbs2repl).

Inspired by [Django Shell](https://realpython.com/lessons/django-shell/), [Rails Console](https://guides.rubyonrails.org/command_line.html#bin-rails-console) and [Laravel Tinker](https://laravel.com/docs/8.x/artisan#tinker)

[2021-12-19 14:31] dalssoft opened #85 "Herbarium - Generate files with Herbarium"
With the new release of [Herbarium](https://github.com/herbsjs/herbarium), CLI can generate files using it.

The best implementation reference is [To Do List](https://github.com/herbsjs/todolist-on-herbs).

All entities, use cases and repositories should be added to Herbarium repo:

**entity**
[code]

**use case**
[code]

**repository**
[code]

And all glues like rest, gql and knex can use it:

Ex

[2021-12-29 12:24] jhomarolo opened #86 "Add MySQL layer Support"
**Is your feature request related to a problem? Please describe.**
as herbs2knex support MySQL, I should have the option to use MySQL in my cli instead of Postgres or MongoDB

Ref: https://github.com/herbsjs/herbs2knex/blob/master/.env_sample_mysql

[2021-12-29 12:32] jhomarolo opened #87 "Add read.me inside generated project"
**Is your feature request related to a problem? Please describe.**
Since we have the herbsshelf, we should create a read.me as an example to show the user how to use Herbs.

**Describe the solution you'd like**
A read.me file with instructions about how to use/config the project generated by cli

[2022-01-07 22:29] priscila-qa opened #88 "Error in project generation"
After running the "herbs new" command and skipping the project description steps, the following error appears:

**Error: Cannot find module '@herbsjs/herbs'**

Screenshot:
![image](https://user-images.githubusercontent.com/93731961/148615557-769270fe-0511-4c00-b6fb-278a8767b57d.png)

[2022-01-15 17:40] #86 closed

[2022-01-15 17:40] #88 closed

[2022-01-15 17:41] jhomarolo commented on #86
:tada: This issue has been resolved in version 1.10.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@herbsjs/herbs-cli/v/1.10.0)
- [GitHub release](https://github.com/herbsjs/herbs-cli/releases/tag/v1.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-15 17:41] jhomarolo commented on #88
:tada: This issue has been resolved in version 1.10.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@herbsjs/herbs-cli/v/1.10.0)
- [GitHub release](https://github.com/herbsjs/herbs-cli/releases/tag/v1.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-15 20:46] jhomarolo opened #97 "Update dependencies of herbs"
**Is your feature request related to a problem? Please describe.**
Shelf is not working with actual version

[2022-01-15 20:46] #97 closed

[2022-01-15 20:54] PedroHaupenthal commented on #64
@jhomarolo could you add the **wip** tag please?

[2022-02-08 18:51] anahelenasilva opened #102 "Error when running herbs new"
**Error when running herbs new**
When I try to run the `herbs new` command using Windows 10 PowerShell, I get the following error:

![image](https://user-images.githubusercontent.com/10438122/153054487-77b7ad70-28b7-46f5-a2fd-96580a4ce7c0.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Install herbs [1.10.2](https://github.com/herbsjs/herbs-cli/releases/tag/v1.10.2) or higher `npm i -g

[2022-02-20 16:27] #85 closed

[2022-02-20 22:25] dalssoft commented on #102
@anahelenasilva could you please test again with v2.0? tks

[2022-02-21 10:37] anahelenasilva commented on #102
@dalssoft It's now working when I `herbs new` and select all options as default 😄
However, if I select graphql as N, it throws the following error on `npm install`:

---
![image](https://user-images.githubusercontent.com/10438122/154938412-0c120944-dd43-4926-b6ba-d6c3d9a712e2.png)

---

Should I open another issue?
Thanks and congrats on the v2 of herbs cli! It looks awesome!!

[2022-02-22 18:33] anahelenasilva commented on #102
@dalssoft after I removed the "@herbsjs/herbs2gql" dependency from package.json, the command `npm install` started working. I believe this dependency shouldn't be in package.json, since I selected "no" for GraphQL. What do you think?

[2022-02-23 13:19] dalssoft commented on #102
@anahelenasilva a new fix was sent. https://github.com/herbsjs/herbs-cli/commit/7759695ab26a4209ac6b429d4738798702c8e716

could you test it again? thanks

[2022-03-02 18:33] jhomarolo commented on #82
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@herbsjs/herbs-cli/v/2.2.0)
- [GitHub release](https://github.com/herbsjs/herbs-cli/releases/tag/v2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-02 19:53] dalssoft commented on #82
Related issue: https://github.com/herbsjs/buchu/issues/53

[2022-03-02 20:30] jhomarolo commented on #82
I thought this issue initially was just working on the fields and validation.

I'll reopen it and we'll discuss when the buchu functionality is delivered.

[2022-03-03 13:42] jhomarolo commented on #87
I've added a basic readme file (#107( with substantial information about the CLI, but it's far from what it needs to be.

The documentation should be dynamic according to the options chosen and much more complete, explaining the entire structure of the generated files.

For now I'll still leave the issue open, because it needs a relevant contribution here.

[2022-04-06 21:46] vma-vortx commented on #64
@PedroHaupenthal have you worked on this issue? The wip is still valid?

[2022-04-16 14:51] dalssoft commented on #64
After so many updates on herbscli, is it still a valid issue? Can someone check?

[2022-04-17 01:52] willsoares opened #110 "`herbs new` fails when git is not installed"
**Describe the bug**
While starting a new project with `herbs new` command, the process fails when trying to `git init` a repository, rather than informing the user that git isn't installed

**To Reproduce**
1. Have a machine without git installed
2. Run `herbs new`
3. Select 'Do you want to initialize a Git repository? Yes'

![image](https://user-images.githubusercontent.com/9052213/163696892-008

[2022-04-27 12:56] jhomarolo opened #113 "cli should show version"
**Describe the solution you'd like**
cli should show version when I type herbs or herbs version

[2022-04-27 13:06] jhomarolo opened #114 "herbs-cli should notify users if an update is available"
**Describe the solution you'd like**
herbs-cli should notify users if an update is available

**Describe alternatives you've considered**
[update-notifier](https://www.npmjs.com/package/update-notifier) used by npm and npm-checker

[2022-04-28 00:54] #114 closed

[2022-04-28 00:55] jhomarolo commented on #114
:tada: This issue has been resolved in version 2.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@herbsjs/herbs-cli/v/2.4.0)
- [GitHub release](https://github.com/herbsjs/herbs-cli/releases/tag/v2.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-04 22:22] italojs commented on #110
I'm sure it's a bug because you really don't have the git installed into your machine, but I agree it's not a great development experience.
What do you think about checking if the git exists before we try to run the git? so, if the git isn't we could just show a message instead an error

[2022-05-04 22:23] italojs commented on #110
if I help you, could you fix it for us, please?

[2022-05-04 22:31] italojs commented on #87
If someone want to implement it, follow this instructions
to solve this issue, just go into [readme.js](https://github.com/herbsjs/herbs-cli/blob/main/src/generators/src/readme.js) generator and pass the props for the template like [this](https://github.com/herbsjs/herbs-cli/blob/44052b1b15eb31879c92269e3755a8b4c3b69ab3/src/generators/src/packagejson.js#L69)

so after this, receive the props like

[2022-05-04 22:36] italojs commented on #84
do you mean, when I wrote `herbs` into the console, we call the herbs2repl?

[2022-05-05 11:58] dalssoft commented on #84
No, with the command `shell`, as suggested before and similar to the given references.

[2022-05-13 22:59] italojs opened #121 "What about generate project with ES6?"
When I generate my project, I would like to use ES6 instead CommonJS

[2022-05-13 23:04] italojs opened #122 "Herbs-CLI not prepared for mongo projects"
When I generate a mongo project, the generated project  is prepared for herbs2knex lib and not for herbs2mongo

[FindByid](https://github.com/herbsjs/herbs-cli/blob/167e726e38ed08daf91f3dd45bc7afdbb30b8b53/src/templates/domain/useCases/find.ejs#L27): in herbs2mongo the lib dont returns an array
 [FindAll](https://github.com/herbsjs/herbs-cli/blob/167e726e38ed08daf91f3dd45bc7afdbb30b8b53/src/templa

[2022-05-13 23:04] italojs commented on #122
I'm working on it

[2022-05-13 23:04] italojs commented on #14
I'm working on it

[2022-05-13 23:09] italojs opened #123 "Generate and test the app in pipeline"
Problem:
Today we have an issue with tests in this project, many times we had implemented something in the CLI for mongo projects and crashed the CLI for Postgres projects and vice-versa

Solution:
When someone opens a PR, I would like to create projects in many different combinations then run the `npm run test` for each generated project

[2022-05-20 17:22] jhomarolo commented on #75
This is a great issue!

[2022-05-28 20:58] dalssoft opened #124 "Herbs2GQL with Herbarium - Update code generation"
Dependency: https://github.com/herbsjs/herbs2gql/issues/38

When the above issue is ready it will be necessary to change the current infrastructure generated automatically for GraphQL to a new one (much simpler one).

The generated file should leave space for customization using metadata or the inclusion of custom mutations, queries and types.

[2022-05-28 21:35] dalssoft opened #125 "Herbs2rest with Herbarium - Update code generation"
Dependency: https://github.com/herbsjs/herbs2rest/issues/22 / https://github.com/herbsjs/herbs2rest/issues/28

When the above issues is ready it will be necessary to change the current infrastructure generated automatically for REST endpoints to a new one (much simpler one).

The generated file should leave space for customization using metadata (https://github.com/herbsjs/herbs2rest/issues/28)

[2022-05-28 21:37] dalssoft opened #126 "Herbsshelf with Herbarium - Update code generation"
Dependency: https://github.com/herbsjs/herbsshelf/issues/25

When the above issue is ready it will be necessary to change the current infrastructure generated automatically for Shelf to a new one (much simpler one).

[2022-06-06 20:42] BritoDoug commented on #110
I will take a look on that problem

[2022-06-07 11:39] othonvv commented on #87
I can take it

[2022-06-07 13:11] italojs commented on #87
@othonvv we already have a read.me there, try to turn on it dynamic :)
https://github.com/herbsjs/herbs-cli/blob/main/src/templates/readme.ejs

[2022-06-07 13:38] dalssoft commented on #87
The current readme is too technical, not a domain driven... What could we do to make it more domain centric?

[2022-06-07 13:38] jhomarolo opened #127 "Usecases not beeing generate if user choose mongodb database"
**Describe the bug**
When I choose MongoDB database, the usecase folders come empty after the generation

**To Reproduce**
Run `herbs new` with mongodb option

[2022-06-07 18:12] jhomarolo commented on #87
I think the initial read.me should be about three things:

1. A tutorial explaining the code generated with CLI (folders structure, application architecture) and how to use the CLI (herbs update for example)
2. A tutorial explaining the application and how to use (start, debug, migration, test)
3. A documentation about the application at the modeling and domain level

What do you think @dalssoft ,

[2022-06-07 20:03] cassiosilva93 commented on #127
I try to do this.

@jhomarolo I tried to create the project with other databases, but none generated the usecase folder, was this mapped?

[2022-06-07 20:15] jhomarolo commented on #127
So maybe this is a bigger problem with CLI.

You will help a lot to fix this.

[2022-06-10 13:31] dalssoft commented on #87
I would go on a different direction, a more domain centric, less technical centric. Also, the template should direct developers towards domain centric documentation.

Suggested template:
[code]

Any other suggestions?

[2022-06-13 04:14] dalssoft commented on #122
@jhomarolo @italojs

in order update the new version with Aloe, I had to reverse the changes made to make mongo works. Part of that was that because the there were different behavior on the domain when it was PG or mongo. It shouldn't be like that. The domain code should be exactly the same regardless the database. So I think there is somw work to be done on the herbs2mongo, not on the CLI.

With

[2022-06-13 12:44] italojs commented on #87
@dalssoft  the suggestions is great except by #main feature session, I think it must be present in the read.me because it conflicts with the herbs usacases doc

@jhomarolo I agree with herbs-cli session is super important we reinforce the idea to use the CLI

Another suggestion is: have a session about documentation too, like
[code]

[2022-06-13 12:52] othonvv commented on #87
@italojs how does this documentation section should work on practice? Just briefing the user about herbshelf benefits and how to use it?

[2022-06-13 15:25] dalssoft commented on #127
This question is important. It only generates the UC, repos, migrations, etc after the npm run or `herbs update`

[2022-06-13 16:54] jhomarolo commented on #127
Yes, I choose the option.
But I'm my opinion, this option is not relevant, the cli should generate UC in both scenarios

[2022-06-13 18:42] dalssoft commented on #127
There is a technical limitation that doesn't allow that. It needs Herbarium installed on the generated project to be able to use the project's metadata. And to do that you need to run `npm install` and `herbs update` to generate UCs and all.

[2022-06-13 19:35] cassiosilva93 commented on #127
Hey guys.

I found the problems, I'll go up the PR in a little while.

[2022-06-16 20:05] dalssoft commented on #64
I can confirm that the error is still happening

[2022-06-17 17:15] jhomarolo commented on #64
@PedroHaupenthal  have you worked on this issue?

[2022-06-19 01:15] #126 closed

[2022-06-19 17:08] #127 closed

[2022-06-19 17:09] jhomarolo commented on #127
:tada: This issue has been resolved in version 2.7.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@herbsjs/herbs-cli/v/2.7.1)
- [GitHub release](https://github.com/herbsjs/herbs-cli/releases/tag/v2.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-06-19 17:10] jhomarolo commented on #127
I worked a lot to fix the hole cli to work fine with MongoDB and now it's working fine.

We still have a problem with use cases generation if user dont chooses to run npm install and herbs update. But I think this is a different issue.

[2022-06-20 11:52] dalssoft commented on #127
The way it is right now it is more like a improvement than a problem.

[2022-06-22 14:08] cassiosilva93 commented on #127
Yes, @jhomarolo

[2022-06-22 14:14] cassiosilva93 opened #132 "Usecases folders not beeing generated if user don't choose to run npm install and herbs update"
**Describe the bug**
When I create a new project or update project and don't choose to execute npm install, the usecases folder not being generated

**To Reproduce**
Run `herbs new`
Answer CLI questions
Choose option to don't execute npm install

**Expected behavior**
Create usecases folder

[2022-06-22 22:04] danielsous commented on #84
I will make this issue

[2022-06-25 14:59] mtperesvx commented on #66
Hi,
We can work on this issue.

@danilokatayama

[2022-06-25 15:37] danilokatayama commented on #66
I'm working on this issue as well

[2022-06-25 15:39] mtperesvx commented on #66
We tested ourselves and the functionality is ok.

![Image](https://user-images.githubusercontent.com/99423701/175780700-c357cead-1335-414b-8f3b-be7e5e26ca94.png)

[2022-06-25 15:40] dalssoft commented on #66
Thank you for checking it! Closing this issue.

[2022-06-25 15:40] #66 closed

[2022-06-25 16:22] jhomarolo opened #135 "Project break when author name is not standarized"
**Describe the bug**
Using the author's name as "name\name" the cli breaks because the author's name is not in the right pattern

**To Reproduce**
Steps to reproduce the behavior:

1. Run herbs new command
2. Choose author name as name\name
3. See error

**Expected behavior**
CLI should standardize the author name

[2022-06-25 18:43] #122 closed

[2022-06-25 18:50] #110 closed

[2022-06-25 19:23] #135 closed

[2022-06-25 19:37] #64 closed

[2022-06-27 22:20] dalssoft opened #139 "Entity schema to Request schema"
Land this feature to CLI
issue: https://github.com/herbsjs/buchu/issues/53
PR: https://github.com/herbsjs/buchu/pull/78

Now it is possible to generate "runtime" requests and replace the current implementation to generate on CLI `herbs update`.

The replacement can occur on Create and Update use cases. For the others, only the ID is necessary.

[2022-06-29 23:50] PedroMarquesFr commented on #124
I'm working on it.

[2022-07-01 14:36] dalssoft commented on #139
@VictorTBX can you take a look at this issue?

[2022-07-01 14:45] dalssoft commented on #87
@othonvv any update on that?

[2022-07-01 14:48] dalssoft commented on #82
Closing.
https://github.com/herbsjs/buchu/issues/53 - Closed
Related: https://github.com/herbsjs/herbs-cli/issues/139

[2022-07-01 14:48] #82 closed

[2022-07-01 15:20] jhomarolo opened #141 "Console layer"
**Is your feature request related to a problem? Please describe.**
What do you think about the CLI creating a console layer?

**Describe the solution you'd like**
Instead of using the HTTP layer (rest or graphql), maybe the cli could create a console layer, for background processes or cronjobs.

**Describe alternatives you've considered**
Create a cronjob layer directly

[2022-07-01 15:25] jhomarolo commented on #13
@ssmaciel can you take this issue?

[2022-07-01 15:48] dalssoft commented on #141
is this what you are looking for? https://github.com/herbsjs/herbs-cli/issues/84

[2022-07-01 15:50] dalssoft commented on #13
I'm not convinced we should have this kind of boilerplate on herbs cli given it has no direct relationship with Herbs capabilities

[2022-07-01 16:20] jhomarolo commented on #141
No, is more like this console app in [buchu](https://github.com/herbsjs/buchu/blob/master/examples/todoapp/main.js)

[2022-07-01 16:23] jhomarolo commented on #13
I thought the idea of the cli was to evolve to a place close to a real application.

Since many applications today already use docker and/or kubernetes, the application to come with a preconfigured file would make sense in my opinion.

[2022-07-01 16:43] dalssoft commented on #141
we could have something like `herbs shell --run CreateUser --payload:'{name: "John"}'`

does it make sense?

[2022-07-01 17:25] jhomarolo commented on #141
But about the transport/execution layer? Will be a console app or HTTP?

[2022-07-04 15:50] othonvv commented on #87
@dalssoft not yet

[2022-07-05 14:33] maikmb commented on #83
@dalssoft This test is for entities generated by the CLI? When you generate a new entity, It does not have logic yet.

[2022-07-05 14:33] dalssoft opened #145 "herbs update - Entities with relationship"
Would be great if we improve the behavior of `herbs update` for cases when entities have relationship with other entities.

## one-to-one

[code]

This should create a migration with:

[code]

## one-to-many

[code]

This should create a migration with:

[code]

[2022-07-05 14:34] maikmb commented on #75
I agree with you! It's a better ideia.

[2022-07-05 14:37] maikmb commented on #14
Standard JS sounds good for me too!

[2022-07-05 18:02] dalssoft commented on #64
Related / evolution: https://github.com/herbsjs/herbs-cli/issues/145

[2022-07-05 20:54] PedroMarquesFr commented on #124
Hi guys, on the cli docs one of the steps are to specify the entity, but when i run it to check how the changes are working it doesn't appear, I can't find any related code to this step at the repo besides at the readme. How can I call it? @dalssoft @italojs @jhomarolo
![Image](https://user-images.githubusercontent.com/43834071/177411204-8cfaacbe-e5ab-438d-b689-02930be02595.png)

[2022-07-05 22:04] dalssoft commented on #83
This issue is pre-spec/aloe but the idea remains valid. In order to implement this issue, first it is necessary to add a spec to entities on aloe.

Once we have this feature there we could have a generated spec files to each entity or at least for the first entity (User) as an example

[2022-07-05 22:07] dalssoft commented on #75
It seems @m7vicente has a half backed implementation of herbs2serveless glue. Let's work on it first and when it is done we can implement it on CLI

[2022-07-05 22:10] dalssoft commented on #124
this feature has been deprecated and is no longer valid. the doc should be updated

[2022-07-05 23:07] dalssoft commented on #145
@endersoncosta is working on it PR: https://github.com/herbsjs/herbs-cli/pull/144

[2022-07-06 00:07] maikvortx commented on #83
Yes, I agree! We can have at least one `user.spec` file in the herbs-cli template.

[2022-07-06 17:06] jhomarolo commented on #14
@italojs are you still here with this issue?

[2022-07-07 16:52] #87 closed

[2022-07-08 00:54] dalssoft commented on #124
@PedroMarquesFr the ideia of this issue is to substitute the current files on `infra\api\graphql` (mutations.js, queries.js, types.js) for a simple call with herbarium as described in https://github.com/herbsjs/herbs2gql/issues/38

[2022-07-08 03:27] dalssoft opened #147 "herbs update - Wrong type of return"
Given:

[code]

`herbs update` will generate a wrong type for create and update customer usecases:

[code]

[2022-07-08 03:28] dalssoft commented on #147
https://github.com/herbsjs/herbs-cli/issues/139 should fix it

[2022-07-08 17:16] PedroMarquesFr commented on #124
@dalssoft So the files on infra\api\graphql (mutations.js, queries.js, types.js) would not exist anymore and those functions would go to the index.js file with herbs2gql(herbarium)? Thats what I understood.

[2022-07-12 00:45] RafaelStutz commented on #83
I can work on this issue.

[2022-07-15 20:47] dalssoft commented on #14
Given the inputs on this issue, this is how I think this feature should work:
- Generate and specify the StandardJS by default on lint file
- Add a script action on npm to run lint on everyfile of the project.
- This script to lint all files should run after `herbs new`. This is important since the current file templates does not respect any lint or even worse (some are a real mess) and the genera

[2022-07-18 17:41] jhomarolo commented on #14
@dalssoft I guess should be good to run the script (like npm run lint or lint:fix) after `herbs update` as well

https://github.com/herbsjs/todolist-on-herbs/blob/97c541a05c7530c769b772d650db6ff19ec2a94a/package.json#L16

[2022-07-18 17:52] dalssoft commented on #14
@jhomarolo makes sense

[2022-07-19 02:09] dalssoft commented on #124
@PedroMarquesFr mutations.js, queries.js, types.js has already been moved to herbs2gql (https://github.com/herbsjs/herbs2gql/issues/38 / https://github.com/herbsjs/herbs2gql/pull/54). now you just need to refactory to remove this files on the cli template

[2022-07-25 20:35] PedroMarquesFr commented on #124
@dalssoft can you check if its covering all point correctly?

[2022-07-26 02:48] VictorTBX commented on #139
I have worked on this:

https://github.com/herbsjs/herbs-cli/pull/148

[2022-07-26 13:03] #139 closed

[2022-07-26 15:24] #84 closed

[2022-07-27 19:21] PedroMarquesFr commented on #124
@dalssoft I fixed coverage, can you take a look?

[2022-07-27 23:23] endersoncosta commented on #64
I take this issue

[2022-07-28 11:44] endersoncosta opened #151 "We need to improve the tests"
Today the tests are too superficial, seeing this, we need to improve this to test the generated project, not only test the command as we do today...

What you think?

[2022-07-28 12:46] jhomarolo commented on #151
I agree 100% with you, I think the cli structurally needs two things:

1 - A considerable refactor, it's full of code smells
2 - A test coverage that actually gives us a guarantee of safe change

[2022-07-30 14:14] PedroMarquesFr commented on #124
@dalssoft @jhomarolo I had send the fixes can you check it?

[2022-08-06 14:08] italojs commented on #151
I think a refactor could be more interesting at this moment, increasing the test coverage will generate more work in the future with the current code

[2022-08-06 14:14] italojs commented on #147
@dalssoft it already has been fixed?
in case it has been fixed, please, close this issue :)
thanks

[2022-08-06 14:18] italojs commented on #141
I agree with the @jhomarolo
is super common to create console apps that run in servers in a long-term way or trigged via cron and etc

My suggestion is to create a simple folder inside the infrastructure layer so inside it we could have an index.js
@jhomarolo do you think we need something more elaborated?

[2022-08-06 18:17] vitorgamer58 opened #152 "Error when create a project in Linux"
**Describe the bug**
When I try to create a project on linux using `herbs new`, I get an error involving git.

**To Reproduce**
Open a linux console on windows, or run it on a linux computer:
1. Install Node 14.17.3
2. Install Herbs-cli with `npm i -g @herbsjs/herbs-cli`
3. Run `herbs new`
4. Choose to initialize a git repository

**Expected behavior**
It should create the project and present the

[2022-08-07 22:44] #124 closed

[2022-08-07 23:26] #147 closed

[2022-08-07 23:28] dalssoft commented on #141
there is no transport layer. the `herbs shell` command is calling the UCs directly.

[2022-08-07 23:31] dalssoft commented on #152
running on Linux should be the same as on Windows or MacOS. thank you @vitorgamer58 for the bug report.

could you investigate it?

[2022-08-07 23:55] vitorgamer58 commented on #152
I will

[2022-08-08 12:26] jhomarolo commented on #141
@dalssoft since there is no transport layer, how the project will run inside a cronjob or scheduled task?

[2022-08-08 17:32] vitorgamer58 commented on #152
Trying to redo the steps that the cli does with git commands, I realized that they run normally on windows, with git 2.37.1
[code]

However in Ubuntu with git 2.25.1 the command `git branch -m main` returns an error message:
[code]

I managed to get it to work by changing the order of the commands, committing first and then renaming the branch:
[code]
It worked, my proposal is to change the order

[2022-08-09 19:44] #152 closed

[2022-08-18 18:26] maikvortx opened #154 "Problem to genereate a new project with git repository"
**Describe the bug**

I got a error when I generate a new project integrated with git repository in cli.

**To Reproduce**

Steps to reproduce the behavior:

1. herbs new
2. indicates to initialize a new git repository when crate a new project

**Expected behavior**

Initialize a new git repository with main branch

**Screenshots**

![image](https://user-images.githubusercontent.com/65735194/18546

[2022-08-18 20:25] maikvortx opened #155 "The new project was generated with a server but has no graphql or rest layer"
**Describe the bug**

I have created a new project without rest/graphql layer, but the project has been created with a server.start in index file.

**To Reproduce**
Steps to reproduce the behavior:

1. herbs new
2. graphql layer: no
3. rest layer: no

**Expected behavior**

Create a new project without configurations for a api.

**Screenshots**

![image](https://user-images.githubusercontent.com/6

[2022-08-18 20:48] maikvortx opened #156 "Create a new project without support to database"
**Is your feature request related to a problem? Please describe.**

Today is not possible to create a new project without a support to a database.

**Describe the solution you'd like**

Create a new option to create a new project without database support.

![image](https://user-images.githubusercontent.com/65735194/185491903-40375b00-a489-4b55-8c46-8f3d8992e932.png)

[2022-08-21 23:47] jhomarolo commented on #155
Duplicate with #132

[2022-08-22 00:10] jhomarolo commented on #154
Fixed with #153

[2022-08-22 00:10] #154 closed

[2022-09-04 22:37] dalssoft commented on #156
The only scenarios where I think it makes sense to have no DB is a BFF (back for frontend).

However, currently all the use cases generated are using repositories to talk to DB. what would be the alternative here?

[2022-09-04 22:41] dalssoft commented on #151
I would suggest a massive refactoring with some structural changes:

1. have a plugin architecture
2. move the generators, templates, etc to the plugins
3. move most of the tests to the plugins

[2022-09-04 22:47] dalssoft commented on #141
for a cronjob would be ok to just it on a remote terminal as CLI (https://github.com/herbsjs/herbs-cli/issues/141#issuecomment-1172530121). for scheduled task, like a lambda, this is just a rest or graphql endpoint waiting to be called by a lambda, already supported.

[2022-09-04 22:52] dalssoft commented on #155
@jhomarolo I don't think it is duplicated since #141 is a feature and what @maikvortx reports is a bug.

for now, I think that if user chooses "No" for REST, then it should be "Yes" as default for GraphQL, with no option to change. In other words, the project should have at least one transport layer.

in the future we could discuss what would be alternatives for it.

[2022-09-05 01:36] italojs opened #158 "Uses ObjectID on id field for all databases choices"
When we create a project, the entity ID is generated via a simple random number
[code]
We could improve it using ObjectID, it could be a default value for all databases:
- use the ID as a string;
- use objectID in ID field for the user(generated) entity;

[2022-09-05 01:42] dalssoft commented on #158
I didn't understand. Could you proved a code example?

[2022-09-05 01:51] italojs commented on #158
for sure!
Instead we generate a random number for User.id as we do for SQL databases [here](https://github.com/herbsjs/herbs-cli/blob/dd09cec7b1ba10bd2e5a8a5d90ff2559b887da79/src/templates/domain/useCases/create.ejs#L25), we could just define the id as string, so insert the User using a ObjectID id

change this:
[code]
for this:
[code]

[2022-09-05 13:27] maikvortx commented on #156
What do you think about generating a usecase without CRUD steps, only validation step? We can use the CLI to create projects to work with BFF and Library.

[2022-09-08 00:40] dalssoft commented on #125
https://github.com/herbsjs/herbs2rest/commit/362adb4a85d86d9a31957a024bc83512ab6835e3
https://github.com/herbsjs/herbs-cli/commit/cef918164bf89f069cbd23ba2d1c1cff954069e9

[2022-09-08 00:40] #125 closed

[2022-09-28 14:31] tadvortx opened #161 "Error weh create a project with SQL Server"
# Describe the bug

When we create a project  with SQL Server

# To Reproduce
Open the terminal and try to create a new project with SQL Server

# Screenshots
![image](https://user-images.githubusercontent.com/112962515/192805352-f173775b-6bb2-4ee4-9fe0-8ac66fc0c890.png)

[2022-09-28 16:54] #161 closed

[2022-09-28 19:23] tadvortx opened #162 "Error encrypt SQL Server connection String"
# Describe the bug

When I try to run a template project with SQL Server, I get an error involving encrypt

# To reproduce

 Open a linux console on windows, or run it on a linux computer:

1. Install Herbs-cli with npm i -g @herbsjs/herbs-cli
2. Run herbs new
3. Choose SQL Server
4. Run project with your connection String

# Screenshot

![image](https://user-images.githubusercontent.com/112962515

[2022-09-28 20:05] #162 closed

[2022-10-05 11:53] italojs commented on #155
I don't think so, I could want to generate a console application and don't have rest either graphql layers.
For me, we solve it by creating a console layer option or just creating nothing, so the developer could use the herbs2rpl on the domain layer.

[2022-10-05 12:00] italojs commented on #141
https://github.com/herbsjs/herbs-cli/issues/141#issuecomment-1172530121 looks interesting but it is the same as herbs2repl, no?
I think we could create an index.js file just for the user to do what they want, like a generic layer for when they don't want to use rest or graphql.

[2022-10-05 12:01] italojs commented on #83
@RafaelStutz  are you still working on this?

[2022-10-05 16:48] maikvortx commented on #155
I agree with @italojs! We can generate a project to interact with herbs2rpl.

[2022-11-06 21:59] tadvortx opened #167 "fix env port api"
# Describe the bug

When I try to deploy the API GraphQL or Rest, We have a problem because the file api.js dosent have the process.env.PORT to get the correct port from the server

# To reproduce
Try to deploy the project without docker to reproduce this error, the server will get timeout because the port that app listen is 3000

[2022-11-06 22:17] #167 closed

[2022-11-11 22:30] dalssoft opened #169 "Herbs spec (Aloe) CLI command should run "pure" specs - without usecase or metadata about usecase"
Currently herbs spec does not run if the spec hasn't usecases and/or metadatas, but it should not be necessary.

Without use case inside spec:

[code]

or without metadata:
[code]

[2022-11-11 22:36] #169 closed

[2022-11-15 19:11] dalssoft commented on #83
FYI, CLI can now run specs without use case metadata: https://github.com/herbsjs/herbs-cli/issues/169

With that, it is just a matter of creating templates for the entities.

[2022-11-23 01:33] vitorgamer58 opened #171 "Path as a parameter to herbs update and herbs spec"
**Is your feature request related to a problem? Please describe.**
Herbs update and herbs spec commands must receive an optional parameter, enabling the test folder to be changed.

**Describe the solution you'd like**
As described in https://github.com/herbsjs/herbs-cli/pull/170#issuecomment-1322166236, the commands must receive a parameter to change the default folder.

**Describe alternatives yo

[2022-11-29 13:12] tadvortx opened #173 "Add example to set windows env at cmd"
# Describe the bug

When I try to set windows env using CMD we dosent have a example at terminal

# To reproduce
Create a new Herbs project using herbs-cli and try to run herbs assist, at console you can see that we don't have a example showing how we can set env using a Windows CMD, we just have two example the first with bash and other using powershell

The print bellow show this:

![image](http

[2022-11-29 22:43] tadvortx opened #175 "unit test not working"
# Describe the bug
When I try to run to run unit tests, I get this error at terminal:

![image](https://user-images.githubusercontent.com/112962515/204664320-18e6afbe-5404-46d4-ba95-b891b83eb2ef.png)

# To reproduce
Run npm run test at terminal